<div class="font-sans min-h-screen antialiased bg-indigo-100 pt-10 space-y-10">

<button type="button" id="goBack-button" class="border-2 bg-gray-100 border-blue-600 rounded-lg px-3 py-2 text-blue-400 cursor-pointer hover:bg-blue-600 hover:text-blue-200">Go Back</button>

<img class="mx-auto shadow-lg" src="/img/TabletopAuctionHouse.jpg" alt="Tabletop Auction House">

<div class="flex flex-col justify-center sm:w-96 sm:m-auto mx-5 mb-5 space-y-8">
<div class="border-2 border-blue-600 rounded-lg shadow-md">
    <div class="flex flex-col bg-gray-100 p-10 rounded-lg shadow space-y-6">
        <h1 class="font-bold text-xl text-center">View Item</h1>

<div class="flex flex-col space-y-1">Item Name: <span type="text" placeholder="Item Name" id="item-name">{{product_name}}</span>
</div>
<div class="flex flex-col space-y-1">Price: <span type="text" placeholder="Price" id="item-price">{{price}}</span>
</div>
<div class="flex flex-col space-y-1">Quantity: <span type="text" placeholder="Quantity" id="item-quantity">{{stock}}</span>
</div>
<div class="flex flex-col space-y-1">Category: <span type="text" placeholder="Category" id="item-category" class="{{category_id}}"></span>
</div>

<button type="button"
    class="deleteItem-button border-2 bg-gray-100 border-blue-600 rounded-lg px-3 py-2 my-1 text-blue-400 cursor-pointer hover:bg-blue-600 hover:text-blue-200"
    id="{{id}}">Delete
</button>
</div>
</div>

<div class="flex justify-center font-bold text-md">
    <p>Created by <a class="underline" href="https://github.com/elisesamanthadaly">Elise Daly</a>, <a class="underline"
            href="https://github.com/smakela13">Sarah Mäkelä</a>, <a class="underline"
            href="https://github.com/lordgeer/">Thomas Musler</a>, and <a class="underline"
            href="https://github.com/dtmerrill">Dana Merrill</a>.
    </p>
</div>
</div>

</div>

<script src="/js/view-item.js"></script>